/* Background Hero Image */
.hero-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/login.jpg') center/cover no-repeat;
    filter: brightness(0.75);
}


/* Center Card */
.auth-container {
    max-width: 380px;
    margin: 5% auto;
    padding: 35px 40px;
    text-align: center;
    color: #ffffff;
    border-radius: 22px;
    backdrop-filter: blur(18px);
}

/* Headings */
.auth-container h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Form fields */
.input-group {
    text-align: left;
    margin: 18px 0;
}

.input-group label {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 6px;
}

.input-group input {
    width: 95%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.85);
}

/* Button */
.btn {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #00aef3;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* Switch Auth */
.switch-auth {
    margin-top: 18px;
}

.switch-auth a {
    color: #00333aa8;
    font-weight: 600;
}